body {
    background-color: #2f2f2f;
    font-family: Arial, sans-serif;
}

#container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    width: 1000px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 16px;
    background-color: rgb(238, 238, 238, 0.75);
    box-shadow: #eeeeee 0 0 10px 0;
}

#image {
    width: 60%;
    min-width: 600px;
    border-radius: 16px 0 0 16px;
}

.center {
    width: 40%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#title {
    text-shadow: black 0 0 5px;
    color: #eeeeee;
    font-size: 3em;
    text-align: center;
}

#description {
    text-shadow: black 0 0 5px;
    color: #eeeeee;
    font-size: 1em;
    text-align: center;
    margin: -2rem 0 3rem 0;
}

#name,
#email,
#submit {
    width: 340px;
    color: #eeeeee;
    background-color: #2f2f2f;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    -moz-appearance: textfield;
    transition: background-color 1s ease, box-shadow 1s ease, color 1s ease;
}

#name:focus,
#email:focus {
    outline: none;
    box-shadow: 0 0 5px 0 #2f2f2f;
}

#submit:hover {
    color: #2f2f2f;
    box-shadow: #2f2f2f 0 0 10px 0;
    background-color: #cbcbcb;
}